.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .react-datepicker__close-icon:focus{
  outline: none;
} */

.main-footer{
  padding-top: 12px;
  position: relative;
  /* bottom: 10px; */
  bottom:1vmin;
  width: 100%;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex:1;
}

.DateInput_input {
  /* font-weight: normal; */
  font-size: 18px;
  height: 24px;
  color:black;
  background-color: inherit;
  width: 100%;
  padding: 11px 11px 9px;
   border: 2px solid transparent; 
}
.DateRangePickerInput__withBorder{
  border-radius: 5px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin:0
}
.DateRangePickerInput__withBorder:hover{
  border: 2px solid #276bb9;
}

.DateRangePicker{width: 100%;}

.DateInput_fang_1{display:none}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover,.CalendarDay__selected_span{
    background: #276bb9;
    border: 1px double white;
    color: #fff;
}
.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover{
  background: #45a1e0;
    border: 1px double #45a1e0;
    color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before{
  border-right: 33px solid #276bb9;

}

.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover {
  background: #45a1e0;
  border: 1px double #45a1e0;
  color: #fff;
}

.DateRangePickerInput_clearDates_default:hover{
  background: none;
}

.testHein{
  color: aqua;
}