.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.DateInput_input {
  font-weight: 200;
  font-size: 19px;
  height: 20px;
  color:#484848;
  background-color: #fff;
  width: 100%;
  padding: 11px 11px 9px;
  /* border: 2px solid transparent; */
}
.DateRangePickerInput__withBorder{
  border-radius: 5px;
  width: 100%;
  margin:0
}

.DateInput_input__focused{
  border:none
}
.DateRangePicker{width: 100%;}

.DateInput_fang_1{display:none}