#root{height: 100%;}
.fullHeight{height: 100vh;}
html{height: 100%;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#style-1::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #F5F5F5;
}

.centeredDiv{
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

#style-1::-webkit-scrollbar
{
	width: 4px;
	background-color: #f9f9f9;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #077cb2;
}

.scrollbar
{ scroll-behavior: smooth;
	overflow-y: auto;
  height: 25rem;
}

.force-overflow
{
  max-height: 450px;
  overflow: hidden;
  transition: 2s;
}


#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 10px;
  background-color: #077cb2;

}
.errorTime {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
}

label{color:rgb(104, 104, 104)}

.question_container{
  overflow-y: hidden;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.pdfBg{-webkit-print-color-adjust: exact}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  color: red;
  border-color: violet;
}

textarea, input {
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}